<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiQianJinCopy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>094CEA7D1D65616F0095F820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>094CEA961D65616F0095F820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>094CEAA11D65616F0095F820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
